doctype html
html
  head
    title= title
    style.
      html, body {
        height:  100%;
        width:   100%;
        padding: 0;
        margin:  0; }
  body
    block content

    script(src='/bundle.js')